:root {
    --bgcolor: #a84b79;
    --fgcolor: #3B1C32;
}
body {
    background-color: black;
  }
h1 {
    color: rgb(66, 31, 93);
    text-align: center;
    font-size: 200px;
    font-family: Helvetica;
    margin-bottom: -30px;
    padding: 0;
}
.smallpapyrus {
    color: rgb(100, 85, 112);
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: "Papyrus", fantasy;
    font-weight: bold
}
.center {
    color: rgb(102, 45, 111);
    text-align: center;
    font-size: 35px;
    margin: 5px;
    padding: 0px;
    font-family: "Courier";
    font-variant: small-caps;
    font-weight: bold;
    word-spacing: -10px;
}
.smallcenter {
    color: rgb(102, 45, 111);
    text-align: center;
    font-size: 25px;
    margin: 5px;
    padding: 0px;
    font-family: "Courier";
    font-variant: small-caps;
    font-weight: bold;
    word-spacing: -10px;
}
a:link {
color: rgb(159, 85, 170);
background-color: transparent;
text-decoration: none;
} 
a:visited {
color: rgb(159, 85, 170);
background-color: transparent;
text-decoration: none;
}
  
a:hover {
color: rgb(218, 195, 223);
background-color: transparent;
text-decoration: underline;
}

hr.solid {
    border: 1px solid rgb(92, 32, 101);
}