:root {
    --bgcolor: #a84b79;
    --fgcolor: #3B1C32;
}
html {
    background-color: var(--fgcolor);
}


.ticket {
    width: 400px;
    height: 150px;
    text-align: left;
    background-color: rgb(208, 208, 208);
    padding: 5px;
    margin: -15px;
    border: 7px black double;
    display: inline-block;
    position: relative;
    transform: matrix(0.7, 0.1, 0.9, 0.9, 0, 0);
    transition: margin 0.5s, transform 1.5s, color 1.5s, background-color 1.5s;
}

.ticket:hover {
    margin: 30px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: rgb(25, 25, 25);
    color: rgb(210, 212, 195);
}

.ticketcollection {
    display: block;
    margin: 0 33% 0 33%;
    height: 210px;
    width: 33%;
    text-align: center;
    border: var(--fgcolor) 10px double;
}

.ticket img {
    float: left;
    margin: 0px;
    margin-right: 10px;
    height: 100%;
}

.ticket h1 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    transition: margin 1.5s, margin-top 1.5s;
}

.ticket p{
    text-align: right;
    margin: -5px;
    margin-top: 30px;
    margin-right: 10px;
    transition: margin 1.5s, margin-top 1.5s;
}

.subtitle{
    font-size: 60%;
}